html {
    font-family: Helvetica;
}

body {
    margin: 0;
    height: 100vh;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo {
    max-width: 300px;
    margin: 0 auto;
}
